html,
body,
#root {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr min(420px, 33%);
    gap: 1rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    min-height: 85vh;
}

.input-container {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 0.5rem;
    border: 1px solid red;
    min-width: 0;
}

.missing-video {
    width: 1080px;
    height: 720px;
}

.result-box {
    margin: 0.5rem 0.5rem 0 0.5rem;
    border: blue solid;
}

.input-box {
    margin: 0 0.5rem 0.5rem 0.5rem;
    border: blue solid;
}
