html,
body,
#root {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr min(420px, 33%);
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    min-height: 85vh;
}

.container > * {
    min-width: 0;
    min-height: 0;
}

.input-container {
    display: grid;
    grid-template-rows: minmax(0, 4fr) minmax(60px, 1fr);
    border: 1px solid red;
    height: 100%;
    min-width: 0;
    min-height: 0;
}

.result-box {
    height: 76vh;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 0.5rem 0.5rem 0 0.5rem;
    border: 1px solid blue;
    min-height: 0;
    white-space: pre-wrap;
}

.input-box {
    margin: 0.5rem;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.button-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 0 0 0.5rem;
}

.input-box textarea {
    width: 65%;
    height: 90%;
    resize: none;
}
